<div id="carousel-1" class="carousel slide" data-ride="carousel">
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
      <img src="images/sacramento-business.jpg" alt="...">
      <div class="item-content">
      <p class="item-title">Business Formations</p>
        <p class="item-snippet hidden-xs">
          Whether it be a corporations, LLC, partnership or sole proprietorship, I not only help clients navigate the entire business formation or acquisition process ...
        </p>
      <p>
      <a href="{{ site.baseurl }}/services/#business-formations">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
      </p>
    </div>
  </div>
  <div class="item">
    <img src="images/estate-planning.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Estate Planning</p>
      <p class="item-snippet hidden-xs">
        I am especially sensitive to accommodating the special wishes of my clients and preserving their wealth for intended beneficiaries ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#estate-planning">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/transactional-law.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Transactional Law</p>
      <p class="item-snippet hidden-xs">
        Whether it be a corporations, LLC, partnership or sole proprietorship, I not only help clients navigate the entire business formation or acquisition process ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#transactional-law">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/real-estate.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Real Estate</p>
      <p class="item-snippet hidden-xs">
        I represent clients in various real estate matters, including sales and purchase agreements for developed and undeveloped properties ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#real-estate">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/construction-law.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Construction Law</p>
      <p class="item-snippet hidden-xs">
        I represent owners, general contractors, subcontractors, suppliers, and design professionals in all aspects of the construction process ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#construction-law">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/labor-employment.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Labor and Employment</p>
      <p class="item-snippet hidden-xs">
        I counsel clients on pre-employment screening procedures, contracts, wage issues, labor relations, benefit packages ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#labor-employment">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/art-law.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Art Law</p>
      <p class="item-snippet hidden-xs">
        I represent both artists and gallery owners in the preparation of contracts, resolution of disputes and protection of artistic works and property.
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#art-law">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/administrative-law.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Administrative Law</p>
      <p class="item-snippet hidden-xs">
        I handle licensing and disciplinary matters before regulatory agencies such as the Contractors' State License Board, the Bureau of Automotive Repair ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#admin-law">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
  <div class="item">
    <img src="images/litigation.jpg" alt="...">
    <div class="item-content">
    <p class="item-title">Litigation</p>
      <p class="item-snippet hidden-xs">
        I represent clients in corporate, partnership and contractual disputes, environmental, personal injury and product liability claims, employment issues ...
      </p>
    <p>
    <a href="{{ site.baseurl }}/services/#litigation">Learn More<span style="padding-left: 10px;" class="fa fa-caret-right"></span></a>
    </p>
  </div>
  </div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
