<footer class="site-footer">
  <div class="row">
  <div class="col-lg-2 col-md-12 col-sm-12"></div>
  <div class="col-lg-8 col-md-12 col-sm-12">
  Copyright 2015. All Rights Reserved.
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12"></div>
  </div>
</footer>
</body>
<!--menu -->
<div class="hidden-md hidden-lg" id="panel-menu">
  <div>
    <nav>
      <ul class="nav nav2 navbar-nav">
        <li><a href="{{ site.baseurl }}/">Main</a></li>
        <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li><a href="{{ site.baseurl }}/services/">Legal Services</a></li>
        <li><a href="{{ site.baseurl }}/consult/">Consultation</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
        </li>
      </ul>
    </nav>
  </div>
  </div>
</html>
