<footer>
<div class="row footer-sub">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
<span style="font-weight: 700;">The Law Office of Anthony J. Garafola</span><br/><span style="font-weight: 300;">2625 Fair Oaks Blvd #7<br/>Sacramento, CA 95864</span>
  <div class="row contact">
    <div class="col-lg-1">
    <a href="mailto:tony@garafola.com" class="btn btn-success">Contact Me</a>
  </div>
  <div style="padding-left: 25px;" class="col-lg-2">Phone: (916) 481-7777<br/>Fax: (916) 481-7776
  </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>&#xa9; 2013 The Law Office of Anthony J. Garafola</p>
  </div>
  </div>
  </div>
  <div class="col-lg-2"></div>
</div>
</footer>
</body>
<!--menu -->
<div class="hidden-md hidden-lg" id="panel-menu">
  <div>
    <nav>
      <ul class="nav nav2 navbar-nav">
        <li><a href="{{ site.baseurl }}/">Main</a></li>
        <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li><a href="{{ site.baseurl }}/services/">Legal Services</a></li>
        <li><a href="{{ site.baseurl }}/consult/">Consultation</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
        </li>
      </ul>
    </nav>
  </div>
  </div>
  </html>
