<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
  <div class="col-lg-1"></div>
   <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group">
       <span class="asteriskField">
        *
       </span>
      <label class="control-label requiredField" for="name">
       Name:
      </label>
      <input class="form-control" id="name" name="name" placeholder="Name" type="text"/>
     </div>
     <div class="form-group">
      <label class="control-label " for="tel1">
       Phone:
      </label>
      <input class="form-control" id="tel1" name="tel1" type="text"/>
     </div>
     <div class="form-group">
      <label class="control-label " for="select">
       Legal Service Requested:
      </label>
      <select class="select form-control" id="select" name="select">
       <option value="Estate Planning, Wills, and Trusts">
        Estate Planning, Wills, and Trusts
       </option>
       <option value="Business Formations and Counseling">
        Business Formations and Counseling
       </option>
       <option value="Transactional Law">
        Transactional Law
       </option>
       <option value="Real Estate">
        Real Estate
       </option>
       <option value="Construction Law">
        Construction Law
       </option>
       <option value="Labor and Employment">
        Labor and Employment
       </option>
       <option value="Art Law">
        Art Law
       </option>
       <option value="Administrative Law">
        Administrative Law
       </option>
       <option value="Civil Disputes and Litigation">
        Civil Disputes and Litigation
       </option>
      </select>
     </div>
     <div class="form-group">
       <span class="asteriskField">
        *
       </span>
      <label class="control-label requiredField" for="message">
       Message:
      </label>
      <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
     </div>
     <div class="form-group">
      <div>
       <input name="_honey" style="display:none" type="text"/>
       <button class="btn btn-success btn-lg" name="submit" type="submit">
        Send
       </button>
      </div>
     </div>
    </form>
   </div>
     <div class="col-lg-1"></div>
  </div>
 </div>
</div>
